<%= render  "shared/header" %>
<div class="d-flex flex-column">
  <h3 class="text-center">最新の投稿</h3>
  <% @post.each do |post| %>
    <div class="p-2 m-2 border border-dark d-flex flex-column">
      <%= link_to  post.user.nickname, "#", class: "font-italic text-dark" %>
      <%= link_to  post.title, "#", class: "text-dark" %>
      <div class="d-flex flex-row">
        <div class="m-1">ジャンル</div>
        <div class="m-1">ジャンル</div>
      </div>
    </div>
  <% end %>
</div>
<%= render  "shared/footer" %>